main {
  display: grid;
  grid-template-columns: 300px 300px;
}

.box1 {
	background: lightcoral;
	padding: 20px;
	margin: 5px;
}
.box2 {
	background: lightblue;
	padding: 20px;
	margin: 5px;
}
.box3 {
	background: lightgreen;
	padding: 20px;
	margin: 5px;
}
